# SITE CONFIGURATION
baseurl: "" # the subpath of your site, e.g. /blog
url: "http://mhagnumdw.github.io" # the base hostname & protocol for your site, e.g. http://example.com
title: MhagnumDw - Programação, configuração, script, Linux e afins # title do html
description: "Programação, configuração, script, Linux e afins" # used by search engines

permalink: /:year/:month/:day/:title
excerpt_separator: <!--more-->

# THEME-SPECIFIC CONFIGURATION
theme_settings:
  # Meta
  title: MhagnumDw # blog's title
  avatar: assets/img/caduceus.jpg
  favicon: assets/favicon.ico
  gravatar: # Email MD5 hash

  # Header and footer text
  header_text: > #two or three lines to describe your site
    Programação, configuração, script, Linux e afins
  header_feature_image: assets/cropped-codecode.jpg
  footer_text: >
    Powered by <a href="https://jekyllrb.com/">Jekyll</a>

  # Icons
  rss: true  # Make sure you created a feed.xml with feed.xml layout
  email_address: mhagnumdw@gmail.com
  behance:
  bitbucket:
  dribbble:
  facebook:
  flickr:
  gitlab:
  github: "mhagnumdw"
  google_plus:
  instagram:
  keybase:
  linkedin:  # Full URL
  pinterest:
  reddit:
  soundcloud:
  stack_exchange:  # Full URL
  steam:
  tumblr:
  twitter: # "twitter username"
  vimeo:
  wordpress:
  youtube:
  
  # Sharing options
  share_buttons:
    facebook: true
    twitter: true
    google_plus: true
    tumblr:
    pinterest:
    pocket:
    reddit: true
    linkedin:
    wordpress:
    email: true

  # Scripts / Features 
  google_analytics: # Tracking ID, e.g. "UA-000000-01"
  disqus_shortname: mhagnumdw
  katex: true # Enable if using math markup
  
  special_page:
    search: 
      icon: "search"
      enabled: true
    tags:
      icon: "tags"
      enabled: true
  
  # Localization strings
  str_follow_on: "Follow on"
  str_rss_follow: "Follow RSS feed"
  str_share_on: "Share on"
  str_add_to: "Add to"
  str_email: "Email"
  str_tweet: "Tweet"
  str_pin_it: "Pin it"
  str_next_post: "Next post"
  str_previous_post: "Previous post"
  str_next_page: "Next"
  str_previous_page: "Prev"
  str_javascript_required_disqus: "Please enable JavaScript to view comments."

  # Post navigation
  post_navigation: true
  
  # Colours, typography and padding
  # Open the "_sass > base" folder, and open "_variables.scss"
  
# PAGINATION
paginate: 10
paginate_path: "blog/page:num"


# BUILD SETTINGS
markdown: kramdown
highlighter: rouge
sass:
  sass_dir: _sass
  style: :compressed
plugins: [jekyll-paginate, jekyll-seo-tag]
#theme: type-on-strap # Uncomment if using the theme as a jekyll theme gem
exclude: ["Gemfile", "Gemfile.lock", "type-on-strap.gemspec", "*.gem", "LICENSE", "README.md", "screenshot.png", "package.json", "node_modules", "gulpfile.js", ".idea/*"]
